<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Media Device Access</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    video, img {
      max-width:100%;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
</head>
<body>
	
	<center><form action="/demo1/video/" method="post">
		Name : <input type="text" name="name" id="name"/><br><br>
		<input type="file" name= "video" id="video"/><br><br>
		<input type="submit">
	</form><center/>
	
</body>
